@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(#00171F, #7BDFF2);
    }

    section#login {
        height: 50vh;
        width:80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    form > input[type=submit] {
        float: right;
        width: 69%;
    }

    form > a#botao {
        float: right;
        width: 69%;
    }

    form > div.campo {
        float: right;
        width: 69%;
    }

    div#formulario > p {
        margin-bottom: 20px;
        margin-left: 233px;
        font-size: 1.1em;
    }

    div#formulario > h1 {
        font-size: 1.7em;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(#00171F, #7BDFF2);
    }

    section#login {
        width: 70vw;
        height: 380px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center bottom;
    }

    form > input[type=submit] {
        width: 49%;
        font-size: 1.1em;
    }

    form > a#botao {
        width: 49%;
        font-size: 1.1em;
    }

    form > div.campo {
        width: 49%;
    }
    
    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.1em;
        margin: 20px 0px;
    }
}